body{
    background: lightgray;
}
#count1{
display: inline;
    white-space: pre-wrap;
}
#sequence{
   display:inline;
    white-space: pre-wrap;
}
#sequenceLabel{
    padding-right: 10px;
}
.meep{
    color: crimson;
    font-weight: bold;
}
.blu{
    color: darkred;
    font-weight: bolder;
}
